<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <!-- コンソールへの出力設定 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{yyyy/MM/dd HH:mm:ss.SSS} [%p]%m %C.%M\(%line\) %n</Pattern>
        </layout>
    </appender>

    <!-- ファイルへの出力設定 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>        
        <file>../logs/myclip.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/myclip.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{yyyy/MM/dd HH:mm:ss.SSS}[%p]%m %C.%M\(%line\)%n</Pattern>
        </layout>
    </appender>
    <!-- 出力するパッケージを設定 -->
    <!-- クラス名を含めないパッケージを設定すると、パッケージ以下のクラスに対して共通設定 -->
    <!-- レベル設定はoff, error, warn, info, debug, trace, all -->
    <!--
    <logger name="net.treewoods" level="debug">
        <appender-ref ref="file" />
    </logger>
    -->
    <!-- ルートロガー（デフォルトロガー）のレベルを設定 -->
    <!-- レベル設定はoff, error, warn, info, debug, trace, all -->
    <root level="debug">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file" />
    </root>
</configuration> 
